.calculator-container{
    margin: 100px auto;
    height: 450px;
    width: 25%;
    padding: 10px;
    border:rgb(67, 117, 173) 3px solid;
   
 
}

.screen{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    border:black 2px solid;
    width: 90%;
    height:70px;
    margin:15px auto;
    font-size: 30px;
    overflow: hidden;
}
.button-container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 5px;
    margin :50px 10px 10px 10px;
    padding: 10px;
}

.button{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif ;
    font-weight: bold;
    background-image: linear-gradient(pink,white);
    border-radius: 12px;
    transition-duration: 0.4s;
}
.button:hover {
    color: white;
  }
